<%= render "shared/header" %>

<div class="sign-up">
  <div class="sign-up-container">
    <div class="sign-up__left">
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class="sign-up__right">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="sign-up__field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="sign-up__field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="sign-up__field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="sign-up__field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="sign-up__field">
          <%= f.label :profile %>
          <%= f.text_area :profile, class: "profile-text", autofocus: true, autocomplete: "profile",rows: "5", maxlength: "300" %>
        </div>

        <div class="upload-img">
          <div class="upload-text">
            Icon image
          </div>
          <div class="sigh-up-upload">
            <p>
              Click to upload file
            </p>
            <%= f.file_field :image, class: "sigh-up-img", id: "item-image" %>
          </div>
        </div>

        <div class="sign-up__actions">
          <%= f.submit "Create Account", class:"sign-up-btn"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>



