<%= render "shared/header" %>

<div class="edit">
  <div class="edit__main">
    <div class="edit__left">
      <h2>Edit Profile</h2>
      <h5>プロフィール編集画面</h5>
    </div>
    <div class="edit__right">
      <%= form_with model: current_user, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>


        <div class="edit__field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="edit__field">
          <%= f.label :profile %><br/>
          <%= f.text_area :profile, autofocus: true, autocomplete: "profile", rows: "5", maxlength: "300" %>
        </div>

        <div class="edit__footer">
          <div class="edit__text">
            アイコン画像
          </div>
          <div class="edit__upload">
            <p>
              Click to upload file
            </p>
            <%= f.file_field :avatar, id: "edit-image" %>
          </div>
        </div>

        <div class="edit__actions">
          <%= f.submit "Edit Profile" %>
        </div>
      <% end %>

      <%= link_to "Back", :back %>

    </div>
  </div>
</div>


