<%= render "shared/header" %>
<%= render "users/mypage" %>
<%= javascript_pack_tag 'relationship' %>

<div class="top-container">
  <div class="user-content">
    <div class="user-content__main">
      <div class="user-content__img"><%= image_tag @user.avatar, class: "user-img" %></div>
      <div class="user-content__name"><%= @user.name %></div>
      <div id="relationship">
        <% if user_signed_in? %>
          <relationship-button :follower-id="<%= current_user.id %>" :followed-id="<%= @user.id %>"></relationship-button>
        <% end %>
      </div>
      <% if user_signed_in? && @user == current_user %>
        <div class="user-content__link"><%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "user-link" %></div>
      <% end %>
    </div>
    <div class="user-profile">
      <h2 class="user-profile__title">プロフィール</h2>
      <div class="user-profile__name"><%= @user.profile %></div>
    </div>
  </div>
</div>
