<%= render "shared/header" %>

<div class="top-container">
  <div class="user-content">
    <div class="user-content__main">
      <div class="user-content__img"><%= image_tag @user.avatar, class: "user-img" %></div>
      <div class="user-content__name"><%= @user.name %></div>
    </div>
    <div class="user-profile">
      <h2 class="user-profile__title">プロフィール</h2>
      <div class="user-profile__name"><%= @user.profile %></div>
    </div>
  </div>
  <div class="user-wrapper">
    <div class="user-wrapper__title"><%= "#{@user.name}さんのおすすめカフェ一覧" %></div>
    <div class="table">
      <%= render partial: "shared/upload", collection: @user.uploads %>
    </div>
  </div>
</div>
