<header class="header">
  <div id="container">
    <% if user_signed_in? %>
      <%= link_to image_tag("home.png", class: 'home-icon'), user_path(current_user.id) %>
    <% end %>
    <%= link_to 'locat', root_path, class: "title" %>
    <button class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="menu">
    <ul class="menu__list">
      <% if user_signed_in? %>
        <li class="menu__name"><%= link_to '登録者情報', edit_user_registration_path, class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'お気に入りカフェ', "#", class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'フォローユーザー', "#", class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'locatについて', "#", class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'マイページへ', "#", class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "menu__link" %></li>
      <% else %>
        <li class="menu__name"><%= link_to 'ログイン', new_user_session_path, class: "menu__link" %></li>
        <li class="menu__name"><%= link_to 'ゲストログイン', "#", class: "menu__link" %></li>
        <li class="menu__name"><%= link_to '新規登録', new_user_registration_path, class: "menu__link" %></li>
      <% end %>
    </ul>
  </div>
</header>
