<%= render "shared/header" %>
<div class="search-content">
  <%= form_with(url: search_uploads_path, local: true, method: 'get', class: "search_container") do |form| %>
    <%= form.text_field :keyword, placeholder: "カフェを検索", class: "search_input" %>
    <%= form.submit "検索", class: "fas fa-search", style: "color: white" %>
  <% end %>
</div>

<% @uploads.each do |upload| %>
  <%= upload.title %>
  <%= image_tag upload.image if upload.image.attached?  %>
<% end %>

